
@model Customer

<div class="row orderForm">
    <form asp-controller="Account" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Create new customer</h3>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Name" class="form-control" placeholder="Enter customers name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Money" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Money" class="form-control" placeholder="Enter customers Money" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Password" class="form-control" placeholder="Enter customers Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsAdmin" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="IsAdmin" class="form-control" placeholder="Enter customers Type" />
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-action="LogIn" />
                <input class="btn btn-success" type="submit" value="Create" />
            </div>
        </div>
    </form>
</div>