@model Customer

@{ 

}

<div class="row orderForm">
    <form asp-controller="Info" asp-action="List" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Hello</h3>

        <th>ID</th> 
        <th>Name</th>
        <th>Authors name</th>
        <th>Edit Game</th>
        <th>Delete Game</th>

    </form>
</div>